@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #40413d;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

body {
    background-color: lightpink;
}

.nav {
    background-color: #fce0dc;
    flex: 0.15;
    border: 2px solid #6e504d;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.25s;
}

.collection-shop-button:hover,
.collection-shop-button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.35);
    transform: translateY(-0.25em);
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.6em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.subtitle {
    font-size: 1.75em;
}

.title-container h1 {
    font-weight: 800;
}

.main-content {
    background-color: #f7938c;
    flex: 1;
    border: 2px solid #6e504d;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-banner {
    padding: 1em;
    height: 15em;
}

.footer {
    background-color: #fdb49c;
    flex: 0.02;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-top: 2px solid #6e504d;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Collection */

.collection {
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    gap: 20em;
    align-items: center;
    padding-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.collection-model {
    height: 100%;
}

.collection-information {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.collection-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5em;
}

.collection-title {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
}

.collection-subtitle {
    font-size: 6em;
}

.collection.unique {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: #82959c;
}

.collection.seasonal {
    background-color: #cb9e7f;
}

.collection.casual {
    background-color: #f4b2b0;
}

.collection.winter {
    background-color: #884f3e;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.collection-title.unique {
    color: lightgrey;
}

.collection-subtitle {
    color: white;
}

.collection-title.seasonal {
    color: #53392e;
}

.collection-title.casual {
    color: #c2817f;
}

.collection-title.winter {
    color: #bdb0af;
}

.collection-shop-button {
    border: none;
    background-color: lightgreen;
    padding: 1em 2em;
    font-weight: bold;
    border-radius: 1em;
}

@media (max-width: 640px) {
    html {
        font-size: 60%;
    }

    .collection-model {
        display: none;
    }
}
